.card{
    margin: 20px;
    border-radius: 5px;
    min-width: 242px;
    background: #ebecf0;
    border: 1px solid #ebecf0;
    box-shadow: 2px 2px #004;
}
h1{
    margin: 0 0 0 20px;
    font-size: 17px;
}
.title{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteCard{
    border-radius: 2px;
    padding: 0 3px 0;
    cursor: pointer;
    margin-right: 10px;
}
.deleteCard:hover{
    background: lightgray;
}
